@import "bootstrap";

.container {
  margin-top: 30px;
}

.nav-tabs {
  margin-bottom: 10px;
}

.logo-link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.jumbotron {
  padding: 1.5rem;
}

.main-image {
  margin: 0 20px 20px 0;
}

.thumbnail {
  margin: 0 20px 5px 0;
}

.sold-label {
  @extend .bg-success;
  @extend .text-center;
  border-radius: 10px;
}
